<% if notice.present? %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<p>
  <strong>Shorten URL:</strong>
  <% url = redirect_key_to_target_url(@mapping.key) %>
  <%= link_to url, url %>
</p>

<p>
  <strong>Target URL:</strong>
  <%= @mapping.target_url %>
</p>

<%= link_to 'Back', mappings_path, class: "btn btn-secondary" %>
